<footer class="container-fluid" id="footer">
    <div class="row">

        <div class="col-lg-12">
            &copy; {{ now|date("Y") }} - Web Semantics, Inc.
        </div>

        <div class="col-lg-12 text-right">
        </div>

    </div>
</footer>